@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin align-end {
    display: flex;
    align-items: flex-end;
}